@{
    ViewBag.Title = "My Error Page";
}

<br>
  <div class="alert alert-danger" role="alert">La página que ud está accediendo No existe </div>
<br>


<button onclick="history.back()" type="button" class="btn btn-primary">Regresar</button>



