<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	 <!--Configuración requerida para log4net-->
	 <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
	<!--Configuración requerida para log4net-->
	<log4net>
		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="c:\temp\Eventos-%date{yyyy-MM-dd}.txt" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="All" />
			<appender-ref ref="RollingFile" />
		</root>
	</log4net>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<connectionStrings>
		<!-- Configurar conexión a BD. Lo ideal es encriptar la String en producción -->
		<add name="DataModelDB" connectionString="Data Source=localhost;Initial Catalog=MVCTicketsDB;User Id=sa;Password=12345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>